<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CoreObjects" version="1.0.3" targetFramework="net47" />
  <package id="DockPanelSuite" version="3.0.4" targetFramework="net461" />
  <package id="EnumerationLib" version="1.0.0" targetFramework="net47" />
  <package id="KellyControls" version="1.0.10" targetFramework="net47" />
  <package id="XMLHelper" version="1.0.3" targetFramework="net47" />
</packages>